<%- include("partials/header") %>


<h1><%= campground.name%></h1>
<img src="<%= campground.image %>">
<h3><%= campground.description%></h3>


<% campground.comments.forEach((comment) =>{ %>
<p> 
  <Strong><%= comment.author %></Strong> - <%= comment.text %>
</p>
  <% }) %>

<%- include("partials/footer") %>